h1 {
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 3.464px 0px rgba(0,1,1,0.25);
  font-weight: normal;
  font-size: 52px;
  line-height: 10px;
}

h2 {
  font-family: 'Gothic A1',  sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-shadow: 2px 3.464px 0px rgba(0,1,1,0.25);
}


h3 {
  font-family: 'PT Sans',  sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: rgb(34, 34, 34);
  line-height: 18px;
}

p {
  font-size: 13px;
  line-height: 18px;
  color: rgb(132,132,132);
  text-align: center;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 72px;
    line-height: 20px;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
  }

  p {
    font-size: 16px;
    line-height: 26px;
  }
}
