.about {
  background-color: $gray-2;
  color: $gray-3;

  h3 {
    font-family: 'Roboto', sans-serif;
  }

  .flex {
    justify-content: space-between;
  }
}

.about__item {
  text-align: left;

  @include media($break-m2) {
    flex-basis: 40%;
  }
}

.about__list {
  @include font-size(14);

  .about__list-item {
    list-style-image: url('../img/icons/ic_arrow.png');
    margin-bottom: 14px;
  }
}

iframe {
  width: 100%;
  border-radius: 15px;
}
