.carousel {
  min-height: 250px;
  position: relative;
  overflow: hidden;
}

.carousel__stage {
  width: 300%;
  position: absolute;
  display: flex;

}

.carousel__item {
  width: 100%;

  blockquote {
    @include font-size(18);
    color: $gray-3;
    text-align: center;
    font-style: italic;

    @include media($break-m) {
      @include font-size(24);
    }
  }

  p {
    text-align: center;
    font-family: $secondary-title-typeface;
    color: $black;
    @include font-size(14);
    @include line-height(18);
    font-weight: bold;

    @include media($break-m) {
      @include font-size(18);
    }
  }
}

.carousel__dots {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.dot {
  background-color: $white;
  border: solid 3px $light-blue;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  margin-right: 10px;

  &.active, &:hover {
    background-color: $light-blue;
  }

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    margin-right: 0;
  }
}
