.ic-button {
  margin-right: 20px;

  &:hover {
    cursor: pointer;

    svg {
      .icon {
        fill: rgba(255, 255, 255, 1);
      }

      .circle {
        fill: rgba(0, 0, 0, 1);
      }
    }
  }

  svg {
    .icon {
      fill: rgba(255, 255, 255, 0.6);
    }

    .circle {
      fill: rgba(0, 0, 0, 0.6);
    }
  }
}
